<div class="t-flex t-justify-center md:t-flex-row t-items-center md:t-items-end t-fle x-col t-gap-32 t-mb-32">        
    <div class="t-flex t-flex-col  t-justify-center t-items-end t-gap-10">
        <h1 class=" t-font-semibold t-text-3xl ">Casa vacanza?</h1>
        <span class="t-h-full t-w-80 t-text-xl t-object-cover t-text-end">           
            Concediti un soggiorno di relax e spensieratezza presso la nostra struttura
        </span>
        <a href="https://www.essegihome.it"><button class="toma t-text-white t-bg-orange-400 t-px-10 t-p-4 t-rounded-full t-shadow-2xl t-shadow-orange-500">Scopri di più</button></a>
    </div>
    <img class=" t-mt-10 md:t-mt-0 t-object-contain t-bg-slate-500 t-float-left t-h-[300px]" src='{{"./images/ciao.jpg"}}'>       
 </div>
    


<style>
    .toma{
        font-weight: 600;
        font-size: larger;
    }
</style>